!!! 5
html
  head
    meta(charset='utf-8')
    title Bigfoot — client-server application framework

    link(rel='stylesheet', href='./assets/css/main.css')

    script(src='./assets/js/jquery-2.0.3.min.js')
    script(src='./assets/js/highlight.web.js')
    script(src='./build/bigfoot-#{pkg.version}.js')
  body
    #notices
    #outer
      #header
        h1
          span Bigfoot
          a.download(href='https://raw.github.com/inca/bigfoot/master/build/bigfoot-#{pkg.version}.min.js',
          target='_blank')= pkg.version
        .subtitle Client-server application framework

      #content
        block content
      #footer
        span 2013&nbsp;&copy;&nbsp;
        a(href="http://inca.github.io/bigfoot") Bigfoot
    include shared/ga